.Buttons-wrapper {
    border: 2px solid lightskyblue;
    border-radius: 20px;
    display: grid;
    grid-gap: 10px;
    padding: 5%;
    grid-template-areas:
    "A   B   C ";
}

.Buttons-wrapper > button {
    background-color: lightskyblue;
    border-radius: 20px;
    align-items: center;
    border: 2px solid #64a6cf;
}

.Buttons-wrapper > button > a {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.Buttons-wrapper > button:hover {
    cursor: pointer;
}

.Buttons-wrapper > button:disabled:hover {
    cursor: default;
}