.CounterSettings-Wrapper{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    border-radius: 20px;
}
#root > div > div.CounterSettings-Wrapper > div.error > input[type=number]{
    color:red;
    border: red 1px solid;
}
