html {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  background-color: rgba(137,134,154,0.85);
}
#root{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}


